<form action="/quesadillas" method="post">
  <p>Enter a new quesadilla:</p>
  <input type="text" name="quesadilla[name]"/></br>
  <textarea name="quesadilla[description]"/></textarea></br>
  <input type="submit"/>
</form>
